<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/Content/css/output.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
     <script src="/Content/scripts/scripts.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="/Content/css/img/beer-icon.png" type="image">
    <title>Drunk Tank</title>
  </head>
  <body>
    <div class="container">
      <div class="main-content">
        <div class="header">
          <h1>Drunk Tank</h1>
        </div>
        <div class="renderBody">
          @RenderBody()
        </div>

        <div class="nav-bar">
          <p><a href="/patrons">Patrons</a></p>
          <p><a href="/bartenders">Bartenders</a></p>
          <p><a href="/bartenders/menu">Full Bar Menu</a></p>
          <p><a href="/">HOME</a></p>
        </div>
       </div>
    </div>
  </body>
</html>
