USE [master]
GO
/****** Object:  Database [bac_checker]    Script Date: 6/22/2017 11:29:17 AM ******/
CREATE DATABASE [bac_checker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bac_checker', FILENAME = N'C:\Users\epicodus\bac_checker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bac_checker_log', FILENAME = N'C:\Users\epicodus\bac_checker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bac_checker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bac_checker]
GO
USE [bac_checker]
GO
/****** Object:  Table [dbo].[bartenders]    Script Date: 6/22/2017 11:29:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bartenders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[drinks]    Script Date: 6/22/2017 11:29:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drinks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[drink_type] [varchar](50) NULL,
	[abv] [decimal](3, 1) NULL,
	[cost] [decimal](4, 2) NULL,
	[instances] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[foods]    Script Date: 6/22/2017 11:29:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[food_type] [varchar](50) NULL,
	[description] [text] NULL,
	[cost] [decimal](4, 2) NULL,
	[bac_removal] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orders]    Script Date: 6/22/2017 11:29:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patrons_id] [int] NULL,
	[drinks_id] [int] NULL,
	[foods_id] [int] NULL,
	[bartenders_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[patrons]    Script Date: 6/22/2017 11:29:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patrons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[gender] [varchar](25) NULL,
	[weight] [int] NULL,
	[height] [int] NULL,
	[bmi] [decimal](4, 2) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[bartenders] ON 

INSERT [dbo].[bartenders] ([id], [name]) VALUES (1, N'Bud Wiser')
INSERT [dbo].[bartenders] ([id], [name]) VALUES (2, N'Sharon Needles')
INSERT [dbo].[bartenders] ([id], [name]) VALUES (3, N'Georgie Santorelli')
SET IDENTITY_INSERT [dbo].[bartenders] OFF
SET IDENTITY_INSERT [dbo].[drinks] ON 

INSERT [dbo].[drinks] ([id], [name], [drink_type], [abv], [cost], [instances]) VALUES (1, N'Water', N'N.A.', CAST(0.0 AS Decimal(3, 1)), CAST(0.00 AS Decimal(4, 2)), 16)
INSERT [dbo].[drinks] ([id], [name], [drink_type], [abv], [cost], [instances]) VALUES (2, N'Reverend Nat’s Tassajara Peach Book', N'Cider Oaked w/Peaches', CAST(8.5 AS Decimal(3, 1)), CAST(5.00 AS Decimal(4, 2)), 12)
INSERT [dbo].[drinks] ([id], [name], [drink_type], [abv], [cost], [instances]) VALUES (3, N'Magnolia New Speedway Bitter', N'Special Bitter ', CAST(4.0 AS Decimal(3, 1)), CAST(6.00 AS Decimal(4, 2)), 20)
SET IDENTITY_INSERT [dbo].[drinks] OFF
SET IDENTITY_INSERT [dbo].[foods] ON 

INSERT [dbo].[foods] ([id], [food_type], [description], [cost], [bac_removal]) VALUES (1, N'Bar Nuts', N'Nuts...From The Bar..', CAST(0.00 AS Decimal(4, 2)), 0)
INSERT [dbo].[foods] ([id], [food_type], [description], [cost], [bac_removal]) VALUES (2, N'If looks could Kale', N'Kale Salad', CAST(6.00 AS Decimal(4, 2)), 1)
INSERT [dbo].[foods] ([id], [food_type], [description], [cost], [bac_removal]) VALUES (3, N'She''s A Super Leek Burger', N'Comes with leeks', CAST(7.00 AS Decimal(4, 2)), 3)
SET IDENTITY_INSERT [dbo].[foods] OFF
SET IDENTITY_INSERT [dbo].[patrons] ON 

INSERT [dbo].[patrons] ([id], [name], [gender], [weight], [height], [bmi]) VALUES (1, N'Alyssa', N'F', 125, 65, NULL)
INSERT [dbo].[patrons] ([id], [name], [gender], [weight], [height], [bmi]) VALUES (2, N'Chet Manly', N'M', 215, 72, NULL)
INSERT [dbo].[patrons] ([id], [name], [gender], [weight], [height], [bmi]) VALUES (3, N'Brick McStrongHuge', N'M', 230, 80, NULL)
SET IDENTITY_INSERT [dbo].[patrons] OFF
USE [master]
GO
