
h1  {
  -webkit-animation: neon 1s ease-in-out infinite alternate;
  -moz-animation: neon 1s ease-in-out infinite alternate;
  animation: neon 1s ease-in-out infinite alternate;
  color: #ffd9ef;
  font-size: 130px;
  text-align: center;
  margin-bottom: 90px;
  font-weight: lighter;
  font-family: 'pacifico', cursive;
  transform: rotate(-7deg);
  line-height: 150px;
}

.container {
  display: flex;
  background-image: url("img/bar.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


button {
  width: 200px;
  height: 70px;
  margin: 15px;
  font-family:'Muli', sans-serif;
  font-size: 30px;
  border-radius: 10px;
  color: #E9E1CB;
  font-weight: 700;
  background-color: rgba(175, 34, 105, 0.5 );
  font-family: Pacifico;
  text-shadow: 4px 4px 4px black;
  &:hover {
    animation: jello 4s ease-in-out infinite;
    filter: blur(3px);
  }
}

label, h3 {
  font-size: 30px;
  padding-bottom: 15px;
}

.render-body {
  width: 100%;
}

p {
  font-size: 25px;
}


input {
  width: 250px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  background-color: #E9E1CB;
  margin-bottom: 50px;
  border-radius: 5px;
}
select {
  background-color: rgba(0, 0, 0 , 0.5 );
  color: #E9E1CB;
  outline: #E9E1CB;
  margin-bottom: 50px;
  width: 90%;
  height: 30px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
