.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  .nav-bar  {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0 , 0.5 );
    border: 1px solid #E9E1CB;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 1100px;
  }
}

 ul#nav-list {
  display: flex;
  width: 100%;
  list-style-type: none;
  justify-content: space-around;
}

li a {
  font-size: 22px;
  list-style-type: none;
  text-decoration: none;
  color: #E9E1CB;
    align-items: space-around;
}
