@{
  Layout="Shared/_Layout.cshtml";
}

@if (@Model.Count != 0)
{
  <ul>
    @foreach (var bartender in @Model)
    {
      <li><a href="/bartenders/@bartender.GetId()">@bartender.GetName()</a></li>
    }
  </ul>
}
else
{
  <p>AINT NOBODY NOWHERE Y'ALL</p>
}

<p><a href="/bartenders/add">Add A Bartender</a></p>
<p><a href="/bartenders/menu">View Full Bar Menu</a></p>
<p><a href="/">HOME</a></p>
