@{
  Layout="Shared/_Layout.cshtml";
}
<p>BARTENDER INFO:</p>
<form action="/bartenders/add" method="post">
  <label for="bartender-name">Name:</label>
  <input type="text" name="bartender-name" id="bartender-name">
  <button type="submit">Submit</button>
</form>

<p><a href="/bartenders">View all Bartenders</a></p>
<p><a href="/">Home</a></p>
