@{
  Layout="Shared/_Layout.cshtml";
}
<p>FOOD INFO:</p>
<form action="/food/add" method="post">
  <label for="food-type">Type:</label>
  <input type="text" name="food-type" id="food-type">
  <label for="food-cost">Cost($):</label>
  <input type="number" name="food-cost" id="food-cost">
  <label for="food-bac-removal">Sobriety Points:</label>
  <select name="food-bac-removal">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <label for="food-description">Description:</label>
  <textarea type="text" name="food-description" id="food-description" rows="10"></textarea>
  <button type="submit">Submit</button>
</form>
