@{
  Layout="Shared/_Layout.cshtml";
}
<h3>Welcome to the <em>Drunk Tank</em>, where you can keep track of how <em>tanked</em> you are!</h3>

<h3 id="select">Who are you?</h3>
<div class="flex-buttons">
  <a href="/patrons"><button type="button" id="patron-button" class="btn btn-submit">Patron</button></a>
  <a href="/bartenders"><button type="button" id="bartender-button" class="btn btn-submit">Bartender</button></a>
</div> <!--flex-buttons-->
