@{
  Layout="Shared/_Layout.cshtml";
}

<p>PLACEHOLDER TEXT TO FOLLOW:</p>

<p>Welcome to the <em>DRUNK TANK</em>, where you can see how <em>TANKED</em> you are!</p>

<p>More random TEXT and STUFF YAY</p>
