@{
  Layout="Shared/_Layout.cshtml";
}

<img src="/Content/css/img/success.gif" alt="SUCCESS">
<p><a href="/patrons">View All Patrons</a></p>
<p><a href="/drinks">View All Drinks</a></p>
<p><a href="/">HOME</a></p>
