*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Muli', sans-serif;
  color: #E9E1CB; }

.progress {
  overflow: hidden;
  margin: 80px auto;
  padding: 0 15px;
  width: 100%;
  height: 75px;
  background: #3e3232;
  border-radius: 35px;
  border: 1px solid grey; }

.progress-bar {
  display: block;
  overflow: hidden;
  height: 50px;
  padding: 5px;
  margin: 13px 0;
  background: #3e2222;
  border-radius: 45px; }

.progress-in {
  display: block;
  min-width: 8px;
  height: 41px;
  background: #fcb724;
  animation: neon2 1s ease-in-out infinite alternate;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, transparent 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #fcb724, #fcdb24);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, transparent 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #fcb724, #fcdb24);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, transparent 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #fcb724, #fcdb24);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, transparent 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #fcb724, #fcdb24);
  border-radius: 35px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2); }

label, h3 {
  font-size: 30px;
  padding-right: 10px; }

.render-body {
  width: 100%; }

h1 {
  -webkit-animation: neon 1s ease-in-out infinite alternate;
  -moz-animation: neon 1s ease-in-out infinite alternate;
  animation: neon 1s ease-in-out infinite alternate;
  color: #ffd9ef;
  font-size: 130px;
  text-align: center;
  margin-bottom: 90px;
  font-weight: lighter;
  font-family: 'pacifico', cursive;
  transform: rotate(-7deg); }

.container {
  display: flex;
  background-image: url("img/bar.jpg");
  background-size: cover;
  background-position: center;
  height: 140vh;
  width: 100%;
  justify-content: center; }

.main-content {
  height: 100%;
  background-color: rgba(48, 2, 2, 0.8);
  width: 60%;
  opacity: 1;
  border: 1px solid #E9E1CB;
  display: flex;
  flex-direction: column; }

form {
  border: 2px solid #E9E1CB;
  border-radius: 10px;
  width: 75%;
  height: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); }
  form p {
    font-size: 40px; }
  form button {
    margin-top: 15%;
    cursor: pointer; }

.form-wrapper {
  margin-top: -200px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

#gender {
  font-size: 150%;
  width: 250px;
  background-color: #E9E1CB; }

#main-form {
  padding-top: 60px;
  height: 10%; }

label {
  padding: 30px; }

input {
  width: 250px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  background-color: #E9E1CB;
  margin-bottom: 50px;
  border-radius: 5px; }

select {
  margin-bottom: 50px; }

button {
  width: 200px;
  height: 70px;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  border-radius: 1%;
  color: white;
  font-weight: 700;
  background-color: rgba(108, 2, 2, 0.5);
  font-family: Pacifico;
  border-radius: 10px; }

.height h3 {
  text-align: center; }

#add-drink {
  display: flex;
  justify-content: center;
  margin-bottom: 100px; }

.submit-btn {
  border-radius: 10px;
  height: 80px;
  margin-top: 80px;
  color: white; }

#start-drinking button {
  height: 115px;
  margin-top: 80px;
  color: white;
  line-height: 40px; }

.add-drink {
  align-content: center; }

.main-content {
  height: 100%;
  background-color: rgba(48, 2, 2, 0.8);
  width: 60%;
  opacity: 1;
  border: 1px solid #E9E1CB;
  display: flex;
  flex-direction: column;
  align-items: center; }

.render-body {
  display: flex;
  flex-direction: column;
  align-items: center; }

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177; } }
@keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fcb724, 0 0 70px #fcb724, 0 0 80px #fcb724, 0 0 100px #fcb724, 0 0 150px #fcb724; }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fcb724, 0 0 35px #fcb724, 0 0 40px #fcb724, 0 0 50px #fcb724, 0 0 75px #fcb724; } }

/*# sourceMappingURL=output.css.map */
